
.body {
  font-family: "Montserrat", sans-serif;
}

  .categories {
    width: 25%;
    padding: 1rem;
  }
  
  .categories-title {
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
    color: #333;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
  
  
  .category-item {
    cursor: pointer;
    color: #333; 
    text-decoration: none;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.2s ease;
  }
  
  .category-item:hover {
    color: #687616; 
    text-decoration: underline;
  }
  
  
  .clear-filter {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #687616;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .clear-filter:hover {
    background-color: #373737;
    border-radius: 0.375rem;
    cursor: pointer;
    color: white;
  }
  .products {
    width: 75%;
    padding: 1rem;
  }
  
  .products-title {
    font-size: 2.5rem;
    color: #333;
    font-family: "Montserrat", sans-serif; 
    margin-bottom: 1.5rem;
    font-weight: normal;
  }
  
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .product-card {
    position: relative;
    overflow: hidden;
    background-color: white;
  }
  
  .product-image-container {
    position: relative;
    width: 100%;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }
  
  .product-card:hover .overlay {
    opacity: 1;
  }
  
  .view-button {
    padding: 0.75rem 3rem;
    background-color: #687616;
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.8s ease;
    font-size: 1.2rem; 
    font-family: "Montserrat", sans-serif;
    font-weight: 500; 
  }
  
  
  .view-button:hover {
    background-color: white;
    color: black;
  }
  
  .product-name {
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif; 
    color: #333;
    text-transform: uppercase;
  }
  
  .product-price {
    padding: 0.5rem;
    text-align: center;
    font-size: 1.125rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #333;
  }
  
  .add-to-cart {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  
  .add-to-cart-button {
    padding: 0.5rem 1rem;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    color: #687616;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .add-to-cart-button:hover {
    text-decoration: underline;
    background-color: white;
  }

  .top-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .add-product-button, .login-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .add-product-button:hover, .login-button:hover {
    background-color: #687616;
  }

.menu-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100; 
}

.menu-button {
  font-size: 30px;
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 40px; 
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  padding: 10px 0;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.menu-container:hover .dropdown-content {
  display: block;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.quantity-controls button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.quantity-controls button:hover {
  background-color: #ccc;
}

.quantity-controls span {
  font-weight: bold;
  font-size: 16px;
  min-width: 20px;
  text-align: center;
}

.cart-button,
.logout-button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}


.cart-button:hover,
.logout-button:hover {
  background-color: #687616;
}



.home-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
  background-color: #f0f1eb;
  padding: 0 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.logo a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
}

.logo img {
  width: 120px; 
  height: auto;
}


.logo a:hover {
  color: #687616;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.left-section {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
}

.right-section {
  display: flex;
  align-items: center;
}

.header-link {
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.header-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.header-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
}

.header-button:hover {
  text-decoration: underline;
}

.delete-button-adm {
  background-color: rgba(172, 0, 0, 0.7);
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
  border-radius: 0.375rem;
  font-size: 0.9rem;
}

.delete-button-adm:hover {
  background-color: rgba(172, 0, 0, 0.8);
}


  